SECRET_KEY=%9h%3$od1ipl2y)r&x%2o*%%j-@ft&^fabhhadf8!i*&#b(-mg
DEBUG=True

DB_NAME=ecommerce_bi_db
DB_USER=ecommerce_user
DB_PASSWORD=7574
DB_HOST=localhost
DB_PORT=3306

ALLOWED_HOSTS=127.0.0.1,localhost

EMAIL_HOST_USER=rohithyedla733@gmail.com
EMAIL_HOST_PASSWORD=zpxnhcocfmtsqryg